//- -const worshipstyleOptions = [{value: 'Pending'},{value: 'Accepted'},{value: 'Shipped'}]
//- select.custom-select(name='worshipstyle')
//-    each worshipstyle in worshipstyleOptions
//-       option(value=worshipstyle.value) #{worshipstyle.value}
extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/form.css")
block content
   section
      .d-flex.justify-content-center.mb-5
         form(action='/admin/edit-manage-products', method='post').form-inline
            .row.justify-content-center.align-items-center.py-5
               h3.mr-5 Finished Editing!
               button.btn.btn-success.mb-2(type='submit' style= 'width: 120px; padding:10px 5px; color: #ffffff; font-size:17px') Update
               input(type="hidden", name="_csrf", value=csrfToken)

            .w-100.d-flex.justify-content-center.py-5
               if orders.length > 0
                  .col-lg-10
                     div.table-responsive
                        table.table.text-center
                           thead
                              tr
                                 th(scope='col') Email
                                 th(scope='col') Title
                                 th(scope='col') Quan.
                                 th(scope='col') T.price
                                 th(scope='col') Address
                                 th(scope='col') State

                           each order in orders
                              tbody
                                 tr
                                    -const prod = order.products
                                    -const stateArr = [{value: 'pending'}, {value: 'accepted'}, {value: 'shipped'}]
                                    th.font-weight-normal(scope='row') #{order.user.email}
                                    td #{prod.product.title}
                                    td #{prod.quantity}
                                    td #{prod.product.price * prod.quantity}$
                                    td #{order.user.address}
                                    td
                                       select(style="max-width: 200px; min-width:120px", name=`${order._id}`).custom-select.mr-sm-2
                                          each stateItem in stateArr
                                             if(prod.state === stateItem.value)
                                                option(value=stateItem.value, selected) #{stateItem.value}
                                             else
                                                option(value=stateItem.value) #{stateItem.value}
                                       
               else
                  h1 No orders to display