extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/form.css")
block content
   section
      .d-flex.justify-content-center.mb-5
         form(action='/admin/edit-manage-products', method='get').form-inline
            h3.mr-5 Editing your products state!
            button.btn.btn-warning.mb-2(type='submit' style= 'width: 120px; padding:10px 5px; color: #ffffff; font-size:17px') Edit

      .row.justify-content-center
         if orders.length > 0
            .col-lg-10
               table.table.text-center
                  thead
                     tr
                        th(scope='col') Email
                        th(scope='col') Title
                        th(scope='col') Quantity
                        th(scope='col') Total price
                        th(scope='col') Address
                        th(scope='col') State
                  each order in orders
                     tbody
                        tr
                           -const prod = order.products
                           th.font-weight-normal(scope='row') #{order.user.email}
                           td #{prod.product.title}
                           td #{prod.quantity}
                           td #{prod.product.price * prod.quantity}$
                           td #{order.user.address}
                           td #{prod.state}
         else
            h1 No orders to display