extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/product.css")
block content
   main
      .container
         .row.justify-content-center
            if products.length > 0
               each product in products
                  .col.d-flex.justify-content-center
                     .card(style='width: 18rem')
                        div.prodImg(style=`background: url(${product.imgUrl})`)
                        .card-body
                           h3.card-title #{product.title}
                           p.card-text #{product.price + '$'}
                           div.btnBox
                              a.btn.btn-success(href=`/admin/edit-product/${product._id}?edit=true`) Edit
                              form(action="/admin/delete-product", method="post")
                                 button.btn.btn-danger(type='submit') Delete
                                 input(type="hidden", name="product", value=product._id)
            else
               h1.mt-5 No products
    
            