extends ../layouts/main-layout
block styles
   link(rel="stylesheet", href="/css/cart.css")
block content
   main
      .row.justify-content-center
         if cart.length > 0
            .col-12.col-md-8.px-0.px-md-3
               table.table.text-center
                  thead
                     tr
                        th(scope='col') Title
                        th(scope='col') Quan.
                        th(scope='col') Total price
                        th(scope='col') Remove

                  each item in cart
                     tbody
                        tr
                           th.font-weight-normal(scope='row') #{item.productId.title}
                           td #{item.quantity}
                           td #{item.quantity * item.productId.price}$
                           td
                              form(action="/cart-delete", method="post")
                                 button.btn.btn-danger(type='submit') Delete
                                 input(type="hidden", name="productId", value= item.productId._id)
                                 input(type="hidden", name="_csrf", value=csrfToken)
            .col-12.col-sm-8.col-md-4
               .card
                  .card-body
                     h3.mb-4.card-title Total Price
                     h6.card-subtitle.mb-2 #{totalPrice}$
                     form.mt-4(action="/orders", method="post")
                        button.btn.btn-success.btn-block(type='submit') Order
                        input(type="hidden", name="_csrf", value=csrfToken)

         else
            h2 The cart is empty