extends ../layouts/main-layout

block content
   
block content
   main
      .row.justify-content-center
         .col-lg-10
            if orders.length > 0
               table.table.text-center
                  thead
                     tr
                        th(scope='col') Title
                        th(scope='col') Quantity
                        th(scope='col') Total price
                        th(scope='col') State
                  each order in orders
                     tbody
                        tr
                           -const prod = order.products
                           th.font-weight-normal(scope='row') #{prod.product.title}
                           td #{prod.quantity}
                           td #{prod.product.price * prod.quantity}$
                           td #{prod.state}

                        //- td 
                        //-    form(action="/orders", method="post")
                        //-       button.btn.btn-success(type='submit') Order
                        //-       input(type="hidden", name="_csrf", value=csrfToken)
                        //-       input(type="hidden", name="productId", value= item.productId._id)
                        //- td
                        //-    form(action="/cart-delete", method="post")
                        //-       button.btn.btn-danger(type='submit') Delete
                        //-       input(type="hidden", name="_csrf", value=csrfToken)
                        //-       input(type="hidden", name="productId", value= item.productId._id)
            else
               h1 The cart is empty